<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=1.0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{ SITE_NAME }}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ PUBLIC_PATH }}/img/favicon.ico"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
	<div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h2>Permiso Denegado</h2>
                <p>
                    Usted no tiene permiso para ver este contenido. Contactese con el admnistrador del sistema.
                </p>
                <a href="{{ PUBLIC_PATH }}" class="text-muted font-italic">Regresar</a>
            </div>
        </div>
	</div>
</body>

</html>