//// =================== Estilos para la pagina Detalle de Informacion ============================

.f_arearef {
    padding-top: 2px;
    margin-bottom: 10px;
    padding-bottom: 10px;
	
	.f_inforef {
	    font-weight: bold;
	    color: $colortexttitle;
	    font-size: 1.1em;
	    word-break: break-word;
	}
}

